:root {
  --bg-color: #46484d; /* background */
  --fg-color: #edeef0; /* foreground */
  --hl-color: #4d4f54; /* highlight */
  --hv-color: #343538; /* hover */
}

html {
  font-size: 100%;
  font-family: "Roboto Mono", monospace;
}

body {
  margin: 0;
  position: relative;
  background-color: var(--bg-color);
  font-size: 1.4rem;
  color: var(--fg-color);
}

h1 {
  font-size: 2rem;
}

.heading-caption {
  margin-top: 0;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* .logo { */
/*     position: absolute; */
/*     z-index: -1; */
/*     filter: hue-rotate(50deg); */
/*     top: calc(0% - 10rem); */
/*     left: calc(0% - 4.6rem); */
/*     width: 15rem; */
/* } */

.icon {
  position: absolute;
  top: calc(0% - 9rem);
  left: calc(0% - 4rem);
  margin: 0;
  font-size: 15rem;
  color: var(--hv-color);
  z-index: -1;
}

.quote-caption,
q {
  margin-top: 0;
}

a {
  color: var(--fg-color);
  background-color: var(--hl-color);
  border-radius: 0.5rem;
  padding: 5px;
  transition: background-color 0.5s ease;
}

a:hover {
  background-color: var(--hv-color);
}

.content {
  position: relative;
  margin-top: 10%;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.rainbow-strip-container {
  overflow: hidden;
  position: relative;
  top: 0;
  height: 0.2rem;
  background-color: transparent;
  z-index: -1;
}

.rainbow-internal {
  background-size: 100% 100vw;
  /* position: relative; */
  width: 100vw;
  height: 100%;
  background-position: 0% 0vw;
  background-repeat: repeat-x;
  background-image: repeating-linear-gradient(
    90deg,
    #f56762,
    #f5b862 8.3%,
    #f5e662 16.6%,
    #a4f562 24.9%,
    #62f571 33.2%,
    #00ff7f 41.5%,
    #62f5ba 49.8%,
    #62cef5 58.1%,
    #6271f5 66.4%,
    #a762f5 74.7%,
    #f562df 83%,
    #f56762 90.2%,
    #f56762
  );
  animation: river 10s ease-in-out infinite;
}

@keyframes river {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100vw 0;
  }
}

/* adjustments to mobile-esque devices */
@media only screen and (max-width: 40rem) {
  .content {
    text-align: center;
    width: 90%;
  }
}
