html {
    font-size: 100%;
    font-family: 'Roboto Mono', monospace;
    /* font-family: 'Roboto', sans-serif; */
}

body {
    position: relative;
    background-color: #f7eed7;
    font-size: 2rem;
}

h1 {
    margin-bottom: 0px;
}

.heading-caption {
    margin-top: 0px;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.icon {
    position: absolute;
    top: calc(0% - 9rem);
    left: calc(0% - 4rem);
    margin: 0px;
    font-size: 15rem;
    color: #d9d1bd;
    z-index: -1;
}

.quote-caption, q {
    margin-top: 0px;
}

a {
    color: #000000;
    background-color: #ebe2cc;
}

a:hover {
    background-color: #d9d1bd;
}

.content {
    position: relative;
    margin-top: 10%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
